
body{
    padding: 10px;   
    font-size:40px; 
    
    background-image: url(img/fondo2.jpg);
    background-size: 100% 100%;
}
img{
    align-self: center;
}
table{
    width: 100%;
    background-color: white;
    margin: 10px;
    border-style: groove;
    border-radius: 20px;
    border-color: aqua;
    text-align: center;
}
td{    
    border-style: groove;
    border-radius: 20px;
    border-color:rgba(67, 67, 67, 0.3);
}
th{
    
    border-style: groove;
    border-radius: 20px;
    border-color:rgba(67, 67, 67, 0.3);
    color: red;
    text-align: left;
}

section{
    padding: 10px;
    background-color: rgba(13, 100, 141, 0.76);
}
header{
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    

    background-color: #9fbde8;
    color: white;
    border: 15px outset rgb(13, 100, 141);
}
h1{
    padding: 10px;
    background-color: royalblue;
    color: white;
}
p{
    padding: 20px;
    text-align: justify;
    background-color: white;
    
}
.nav-enlace{
    display: inline-block;
    color: #fff;
    padding: 1rem;
    text-decoration: none;

}   
.nav-enlace:hover{
    background: rgb(52, 160, 233);
}
nav{
    font-size: 20px;
    background-color: royalblue;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;

}
.btn{
    display: none;
}


@media (max-width: 820px) {
    body{
        font-size: 25px;
        background-image: url(img/fondo2.jpg);
        background-size: 100% 100%;
    }
    nav .btn{
        display:block;
        align-self: flex-end;
    }
    .btn span{
        display:block;
        margin: 6px;
        width: 40px;
        height: 3px;
        background: #333;
    }
    nav{
        
        align-items:center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        
    }
    .nav-enlace{
        margin: 10px;
    }
    .ocultar{
        display: none;
    }
    img{
        width: 100%;
    }
    
    iframe{
        width: auto;
        height: auto;
    }
}